{% extends 'base.html.twig' %}

{% block title %}Log in
{% endblock %}

{% block navbar %}
	<nav class="w-full font-poppins">
		<ul class="flex gap-10 justify-end">
			<li class="active">
				<a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Accueil</a>
			</li>
			<li class="active">
				<a href="{{ path('app_home') }}" class="text-off-blue  font-bold text-[16px]">Connexion</a>
			</li>
		</ul>
	</nav>
{% endblock %}

{% block main %}
	<section class="flex flex-col justify-center items-center h-[100vh] w-full bg-gray-50">
		<div class="w-11/12 rounded shadow py-5">
			<div class="bg-cover bg-center bg-no-repeat w-full registration"></div>
			<form method="post" class="flex flex-col gap-5 w-full">
				{% if error %}
					<div class="bg-red-100 text-red-700 p-2 rounded">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}" class="text-gray-700 hover:underline">Logout</a>
					</div>
				{% endif %}

				<h1 class="text-2xl font-bold mb-3 text-off-blue">Please sign in</h1>

				<div>
					<label for="username" class="block text-sm font-medium text-gray-700">Email</label>
					<input type="email" name="_username" id="username" value="{{ last_username }}" autocomplete="email" required autofocus class="mt-1 block w-full border border-gray-300 rounded p-2">
				</div>

				<div>
					<label for="password" class="block text-sm font-medium text-gray-700">Password</label>
					<input type="password" name="_password" id="password" autocomplete="current-password" required class="mt-1 block w-full border border-gray-300 rounded p-2">
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<a type="submit" class="w-full bg-dark-gray text-white py-2 text-center rounded hover:bg-gray-700">
					Sign in
				</a>
			</form>

			<p class="text-gray-700 text-center">
				Already have an account?
				<a href="{{ path('app_register') }}" class="underline hover:text-gray-900">Signup</a>
			</p>
		</div>
	</section>
{% endblock %}
