{% extends 'base.html.twig' %}

{% block navbarDesktop %}
  <nav class="w-full font-poppins">
    <ul class="flex gap-10 justify-end">
      <li>
        <a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Accueil</a>
      </li>
      <li>
        <a href="/#contact" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Contact</a>
      </li>
      <li>
        <a href="{{ path('app_patient_profile') }}" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Mon Compte</a>
      </li>
      <li>
        <a href="{{ path('app_patient_appointments') }}" class="text-off-blue hover:text-off-blue font-bold text-[16px]">Mes Rendez-vous</a>
      </li>
      <li class="flex justify-end">
        <div>
          <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Déconnexion</a>
        </div>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block navbarMobile %}
  <ul class="flex flex-col items-center justify-center h-full">
    <li class="mb-6">
      <a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue text-2xl">Accueil</a>
    </li>
    <li class="mb-6">
      <a href="/#contact" class="text-off-gray hover:text-off-blue text-2xl">Contact</a>
    </li>
    {% if app.user and ('ROLE_USER' in app.user.roles or 'ROLE_PATIENT' in app.user.roles) and not ('ROLE_ADMIN' in app.user.roles or 'ROLE_DOCTOR' in app.user.roles) %}
      <li class="mb-6">
        <a href="{{ path('app_patient_profile') }}" class="text-off-gray text-2xl">Mon Compte</a>
      </li>
      <li class="mb-6">
        <a href="{{ path('app_patient_appointments') }}" class="text-off-blue hover:text-off-blue text-2xl">Mes Rendez-vous</a>
      </li>
    {% endif %}
      <li class="mb-6">
        <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-2xl">Déconnexion</a>
      </li>
  </ul> 
{% endblock %}

{% block main %}
<section class="mt-[90px] w-full font-poppins py-8">

  {# Flash messages #}
  {% for message in app.flashes('success') %}
    <div class="container mx-auto px-4 mb-10">
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}

  {% for message in app.flashes('error') %}
    <div class="container mx-auto px-4 mb-10">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}

  <div class="container mx-auto px-4 flex flex-col lg:flex-row gap-8">

    <!-- Side Menu -->
    <nav class="w-full lg:w-1/4 h-fit bg-white shadow-lg rounded-lg p-6 border border-solid border-dark-blue">
      <h2 class="text-lg font-bold text-dark-gray mb-4">Menu</h2>
      <ul class="space-y-4 flex flex-col justify-center md:justify-start">
          <li class="{{ app.request.attributes.get('_route') == 'app_patient_appointments_upcoming' ? 'bg-off-blue' : '' }} p-2 rounded">
              <a href="{{ path('app_patient_appointments_upcoming') }}" class="{{ app.request.attributes.get('_route') == 'app_patient_appointments_upcoming' ? 'text-off-white no-underline' : 'text-dark-blue hover:underline' }}">
                  Mes rendez-vous à venir
              </a>
          </li>
          <li class="{{ app.request.attributes.get('_route') == 'app_patient_appointments_available' ? 'bg-off-blue' : '' }} p-2 rounded">
              <a href="{{ path('app_patient_appointments_available') }}" class="{{ app.request.attributes.get('_route') == 'app_patient_appointments_available' ? 'text-off-white no-underline' : 'text-dark-blue hover:underline' }}">
                  Prendre un rendez-vous
              </a>
          </li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div class="w-full lg:w-3/4">
      {% block content %}{% endblock %}
    </div>

  </div>
{% endblock %}