{% extends 'base.html.twig' %}

{% block navbarDesktop %}
  <nav class="w-full font-poppins">
    <ul class="flex gap-10 justify-end">
      <li>
        <a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Accueil</a>
      </li>
      <li>
        <a href="/#contact" class="text-off-gray hover:text-off-blue font-bold text-[16px]">Contact</a>
      </li>
        <li>
          <a href="{{ path('app_doctor_profile') }}" class="text-off-blue font-bold text-[16px]">Mon Compte</a>
        </li>
        <li class="flex justify-end">
          <div>
            <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-[16px]">Déconnexion</a>
          </div>
        </li>
    </ul>
  </nav>
{% endblock %}

{% block navbarMobile %}
  <ul class="flex flex-col items-center justify-center h-full">
    <li class="mb-6">
      <a href="{{ path('app_home') }}" class="text-off-gray hover:text-off-blue text-2xl">Accueil</a>
    </li>
    <li class="mb-6">
      <a href="/#contact" class="text-off-gray hover:text-off-blue text-2xl">Contact</a>
    </li>
      <li class="mb-6">
        <a href="{{ path('app_doctor_profile') }}" class="text-off-blue text-2xl">Mon Compte</a>
      </li>
      <li class="mb-6">
        <a href="{{ path('app_logout') }}" class="bg-dark-blue text-white py-2 px-4 rounded hover:bg-off-blue text-2xl">Déconnexion</a>
      </li>
  </ul>
{% endblock %}

{% block main %}

{% endblock %}